{% extends 'index.html' %}

  {% block content%}
    <div class='about'>
      <p>¿Qué es Parking Simulator [PS]?</p>
      <p>En esta página podrás seleccionar aparcamientos de la base de datos de la Comunidad de Madrid.</p>

      <p>Según entramos en la página, podemos apreciar un banner, un menú que nos llevara a 'TODOS los
      aparcamientos' o a este recurso 'ABOUT'. La página nos dará la opcion de descargar todos los aparcamientos del XML de
      la Comunidad de Madrid. </p>

      <p>Para ello, simplemente debes loguearte en la página mediante nuestro sencillo formulario. Una vez hecho,
      dispondrás de una página personal, donde se encontrarán tus aparcamientos seleccionados. Ahí los aparcamientos seleccionados se
      paginan de 5 en 5. También será posible cambiar el estilo css de la página, en el lateral de la misma. </p>
      <p>Los aparcamientos se podrán seleccionar sencillamente pulsando el boton 'ADD' que está situado al lado de cada aparcamiento.
      Se podrá obtener mas información de cada aparcamiento pulsando sobre su enlace 'mas info...'.</p>
      <p>Ademas, si estás logueado, se permite comentar cada aparcamiento (indicando por ejemplo que te pareció espacioso,
      bien posicionado, etc.). Los aparcamientos apareceran en la pagina principal filtrados por 'comentados' (sólo aparecen los
      más comentados, descendentemente) o 'accesibles' (todos los accesibles), según seleccionemos con el boton situado en la
      columna lateral.</p>
      <p>Ademas, en dicha columna (más abajo), podremos elegir ver la pagina en formato XML, o bien ir al recurso "/multimedia",
      donde hay alojados elementos en html5. Y más abajo, podremos ver las páginas personales de cada usuario, con enlaces hacia ellas </p>

      <p> Por último tenemos un footer con la autoria de los aparcamientos </p>
      
      <p><br><br> DESIGNED BY: Jonathan Cano Picazo (Alias Onac8)</p>
    </div>
  {% endblock content %}
