{% extends 'index.html' %}

  {% block content%}
    <!-- PARKINGS ELEGIDOS -->
    <div class="article">
        <h2 class="Aparcamiento"><span>LISTA DE APARCAMIENTOS</span></h2>
          <form  id='buscarDistrito' method='POST'> Buscar por Distrito: <select name='Distrito'>
            <option value='CENTRO'>Centro</option>
            <option value='CHAMARTIN'>Chamartin</option>
            <option value='TETUAN'>Tetuan</option>
            <option value='MONCLOA-ARAVACA'>Moncloa-Aravaca </option>
            <option value='RETIRO'>Retiro</option>
            <option value='SALAMANCA'>Salamanca</option>
            <option value='MORATALAZ'>Moratalaz</option>
            <option value='CHAMBERI'>Chamberi</option>
            <option value='SAN BLAS-CANILLEJAS'>San Blas-Canillejas</option>
            <option value='CIUDAD LINEAL'>Ciudad Lineal</option>
            <option value='FUENCARRAL-EL PARDO'>Fuencarral-El pardo </option>
            <option value='ARGANZUELA'>Arganzuela</option>
            <option value='VILLA DE VALLECAS'>Villa de Vallecas</option>
            <option value='LATINA'>Latina</option>
            <option value='HORTALEZA'>Hortaleza</option>
            <option value='PUENTE DE VALLECAS'>Puente de Vallecas</option>
            <option value='CARABANCHEL'>Carabanchel</option>
            <option value='VILLAVERDE'>Villaverde</option>
            <option value='BARAJAS'>Barajas</option></select>
            <input type='submit' value='Filtro'></form>
        <ul>
          {% for park in content %}
            <li>{{park|safe}}</li>
            <br><br>
          {% endfor %}
        </ul>
    </div>
    <hr class="noscreen" />
  {% endblock content %}



  {% block datos %}
    <div id="col-in">
        <!-- XML y Accesibilidad -->
        <h3><span>{{boton|safe}}</span></h3> <!-- SE IGNORA. NO QUIERO BOTON AQUI -->

        <div id="about-me">
            <p><a href="/multimedia"><strong>MULTIMEDIA (HTML5)</strong></a></p>
        </div> <!-- /about-me -->

        <hr class="noscreen" />



        <!-- Category -->
        <h3 ><span>PÁGINAS PERSONALES</span></h3>
        <ul id="category">
          {% for pagina in datos %}
            <!--<li id="category-active">{{pagina|safe}}</li> -->
            <li>{{pagina|safe}}</li>
          {% endfor %}
        </ul>
        <hr class="noscreen" />
    </div> <!-- /col-in -->
  {% endblock datos %}
