{% extends 'index.html' %}

  {% block content%}
    <div class="article"><h2><span>{{titulo|safe}}</span></h2>
      {%for aparcamiento in content %}
        <div>
          <p>{{ aparcamiento|safe }}</p>
        </div>
        <hr class="noscreen" />
      {% endfor %}
    </div>
  {% endblock content %}


  {% block datos %}
    <div id="col-in">
        <!-- XML y Accesibilidad -->
        <h3><span>{{boton|safe}}</span></h3>

        <div id="about-me">
            <p><strong>GET PARKINGS</strong></p>
            <p>Vista en XML<br></p>
        </div> <!-- /about-me -->

        <hr class="noscreen" />



        <!-- Category -->
        <h3 ><span>PÁGINAS PERSONALES</span></h3>
        <ul id="category">
          {% for pagina in datos %}
            <!--<li id="category-active">{{pagina|safe}}</li> -->
            <li>{{pagina|safe}}</li>
          {% endfor %}
        </ul>
        <hr class="noscreen" />
    </div> <!-- /col-in -->
  {% endblock datos %}
