{% extends 'index.html' %}

  {% block content%}
    <div class='about'>

    <p><strong>Algunos ejemplos de archivos multimedia soportados por html5</strong></p>
    <br><p>Archivos de audio</p>
    <p>Formula 1 [.mp3]-->
      <audio controls>
        <source src="aparcamientos/templates/multimedia/formula1.mp3" type="audio/mp3"/>
      </audio>
    </p>

    <p>Coche [.wav]-->
      <audio controls>
        <source src="aparcamientos/templates/multimedia/bmw.wav" type="audio/wav" />
      </audio>
    </p><br><br>




  {% endblock content %}
