{% extends 'index.html' %}

  {% block content%}
    <!-- PARKINGS ELEGIDOS -->
    <div class="article">
        <h2 class="TituloUserPage"><span>{{titulo|safe}}</span></h2>
        {{form|safe }}
        <!-- USO DE JAVASCRIPT EN FUNCION CAMBIAR NOMBRE -->
        <!-- ........................................... -->

        <p><span class="cat">
          <ul>
            {% for list in content %}
              {{list|safe}}
            {% endfor %}
          </ul>
          </span><span class="noscreen">,</span>
        </p>
    </div>
    <hr class="noscreen" />
  {% endblock content %}



  {% block datos %}
    <div id="col-in">
        <!-- XML y Accesibilidad -->
        <h3><span>{{boton|safe}}</span></h3> <!-- SE IGNORA. NO QUIERO BOTON AQUI -->

        <div id="about-me">
            <p><strong>Get XML de {{xml|safe}}</strong></p>
            <p><a href="/multimedia"><strong>MULTIMEDIA (HTML5)</strong></a></p>
            <p>{{formcss|safe}}<br></p>
        </div> <!-- /about-me -->

        <hr class="noscreen" />



        <!-- Category -->
        <h3 ><span>PÁGINAS PERSONALES</span></h3>
        <ul id="category">
          {% for pagina in datos %}
            <!--<li id="category-active">{{pagina|safe}}</li> -->
            <li>{{pagina|safe}}</li>
          {% endfor %}
        </ul>
        <hr class="noscreen" />
    </div> <!-- /col-in -->

  {% endblock datos %}
